.navbar-brand {
    
    padding-left: 35px;

}

.navbar {
    
    margin: 0 10px 20px 10px;
    background-image: url("../Nav/imageNav/navbar-image.jpg");
    height: 180px;
    background-position-x: 717px;
    background-repeat: no-repeat;
    
    background-color: bisque;
    border-radius: 15px;
    
}



