@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

h2 {
    font-family: 'Thasadith', sans-serif;
    font-size: 3rem;
    color: rgb(58, 58, 224);
}

#name,
#email,
#password,
#password-confirm,
#zipCode,
#selectSkills
 {
    font-family: 'Thasadith', sans-serif;
    
}

