@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

h2 {
    font-family: 'Comfortaa', cursive;
}

#name {
    font-family: 'Comfortaa', cursive;
}

#email {
    font-family: 'Comfortaa', cursive;
}

#password {
    font-family: 'Comfortaa', cursive;
}

#password-confirm {
    font-family: 'Comfortaa', cursive;
}

#zipCode {
    font-family: 'Comfortaa', cursive;
}

#selectSkills {
    font-family: 'Comfortaa', cursive;
}