footer {
    width: 100%;
    text-align: center;
    background-color: bisque;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 3px;
    font-family: cursive;
    margin-bottom:0px;
   
}
