body{

background-image: url("./AppImg/Market.jpg");
background-repeat: repeat;
 /* margin-top:20px; */
 background-size: cover;
 background-position-y: bottom;


}

.card {
        
width: 500px;
margin-top:200px;
    }

    .w-100 {
       
        margin-bottom: 30px;
        margin-left: 300px;
    }

    .btn-primary {
       
        margin-left: 0px;
    }

    .linkMargin {
        margin-left: 130px;
    }
  